{% load i18n %}
<div class="col-xs-4 pull-left">
	<div class="actions">
    <div class="input-group">
      {% for field in action_form %}{{ field }}{% endfor %}
      <span class="input-group-btn">
        <button type="submit" class="btn btn-info btn-flat" title="{% trans "Run the selected action" %}" name="index" value="{{ action_index|default:0 }}">{% trans "Go" %}</button>
      </span>
    </div>
    {% if actions_selection_counter %}
      <span class="action-counter" data-actions-icnt="{{ cl.result_list|length }}">{{ selection_note }}</span>
      {% if cl.result_count != cl.result_list|length %}
        <span class="all">{{ selection_note_all }}</span>
        <span class="question">
            <a href="#" title="{% trans "Click here to select the objects across all pages" %}">{% blocktrans with cl.result_count as total_count %}Select all {{ total_count }} {{ module_name }}{% endblocktrans %}</a>
        </span>
        <span class="clear"><a href="#">{% trans "Clear selection" %}</a></span>
      {% endif %}
    {% endif %}
  </div>
</div>

<style>
  .actions .action-counter { display:block;margin-top: 7px }
  .actions .all { display:block }
  .actions .question { display:block }
  .actions .clear { display:block }
</style>
