<!DOCTYPE html>{% load i18n admin_static nimda_tags %}
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}{{ title }} | {{ site_title|default:"Nimda" }}{% endblock %}</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  {% if debug %}
    <link rel="stylesheet" href="http://127.0.0.1:9999/dist/nimda/vendor.css">
    <link rel="stylesheet" href="http://127.0.0.1:9999/dist/nimda/main.css">
  {% else %}
    <link rel="stylesheet" href="{% dist 'nimda/vendor.css' %}">
    <link rel="stylesheet" href="{% dist 'nimda/mail.css' %}">
  {% endif %}

  {% if debug %}
    <script src="http://127.0.0.1:9999/dist/nimda/vendor.js"></script>
  {% else %}
    <script src="{% dist 'nimda/vendor.js' %}"></script>
  {% endif %}

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  {% block extrastyle %}{% endblock %}
  {% block extrahead %}{% endblock %}
  {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
</head>


<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}hold-transition skin-black sidebar-mini{% endblock %}">
<div class="wrapper">

  <!-- Main Header -->
  {% if not is_popup %}
  <header class="main-header">

    <!-- Logo -->
    <a href="{% url 'admin:index' %}" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>S</b>m</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Sum</b>sum</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <img src="{% static "admin/img/anonymous.jpg" %}" class="user-image" alt="{% firstof user.get_name user.get_username %}">
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">{% firstof user.get_short_name user.get_username %}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
              <img src="{% static "admin/img/anonymous.jpg" %}" class="img-circle" alt="User Image">

                <p>
                  {% firstof user.get_name user.get_username %}
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                </div>
                <div class="pull-right">
                  <a href="{% url 'admin:logout' %}" class="btn btn-default btn-flat">{% trans 'Log out' %}</a>
                </div>
              </li>
            </ul>
          </li>

        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->

  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      {% block sidebar_menu %}
        {% sidebar_menu %}
      {% endblock %}

    </section>
    <!-- /.sidebar -->
  </aside>
  {% endif %}


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper"{% if is_popup %} style="margin-left:0"{% endif %}>
    {% if not is_popup %}
      <section class="content-header">
        <h1>
          {% block content_title %}{% if title %}{{ title }}{% endif %}{% endblock %}
          {% block pretitle %}{% endblock %}
        </h1>

        {% block breadcrumbs %}
          <ol class="breadcrumb">
            <li><a href="{% url 'admin:index' %}"><i class="fa fa-dashboard"></i> {% trans 'Home' %}</a></li>
            <li class="active">{{ title }}</li>
          </ol>
        {% endblock %}

      </section>
    {% endif %}

    <!-- Main content -->
    <section class="content">

      {% block messages %}
      {% if messages %}
        {# danger, warning, info, success #}
        <div>
          {% for message in messages %}
            <div class="flat alert{% if message.tags %} alert-{{ message.tags }}{% endif %} alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              {{ message|capfirst }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
      {% endblock messages %}

      {% block content %}
        {% block object-tools %}{% endblock %}
          {{ content }}
        {% endblock %}
      {% block sidebar %}{% endblock %}

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  {% block footer %}
  {% endblock %}
</div>
<!-- ./wrapper -->
  {% if debug %}
    <script src="http://127.0.0.1:9999/dist/nimda/main.js"></script>
  {% else %}
    <script src="{% dist 'nimda/main.js' %}"></script>
  {% endif %}
</body>
</html>
