{% load i18n static %}<!DOCTYPE html>
<html>
  <head><title>{% trans 'Popup closing...' %}</title></head>
  <body>
    <script>
      var data = {{ popup_response_data|safe }}
      switch(data.action) {
      case 'change':
        opener.dismissChangeRelatedObjectPopup(window, data.value, data.obj, data.new_value)
        break
      case 'delete':
        opener.dismissDeleteRelatedObjectPopup(window, data.value)
        break
      default:
        opener.dismissAddRelatedObjectPopup(window, data.value, data.obj)
        break
      }
    </script>
  </body>
</html>
