{% extends "admin/change_form.html" %}
{% load i18n admin_urls admin_static admin_modify nimda_tags %}


{% block extrahead %}
  {% original %}
  <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{% endblock %}

{% block breadcrumbs %}
  <ol class="breadcrumb">
    <li><a href="{% url 'admin:index' %}"><i class="fa fa-dashboard"></i> {% trans 'Home' %}</a></li>
    <li>{% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ cl.opts.verbose_name_plural|capfirst }}{% endif %}</li>
    <li class="active">{% if add %}{% trans 'Add' %} {% endif %}<selection-title></selection-title></li>
  </ol>
{% endblock %}

{% block content_title %}{{ title }}: <selection-title></selection-title>{% endblock %}

{% block content %}
  <selection></selection>
{% endblock %}
