{% load i18n admin_urls admin_static nimda_tags %}

{% spaceless %}
<div class="inline-group" id="{{ inline_admin_formset.formset.prefix }}-group">
  <h2 class="page-header">{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}</h2>
  {{ inline_admin_formset.formset.management_form }}
  {{ inline_admin_formset.formset.non_form_errors }}

  {% for inline_admin_form in inline_admin_formset %}
    <div class="inline-related{% if inline_admin_form.original or inline_admin_form.show_url %} has_original{% endif %}{% if forloop.last %} empty-form last-related{% endif %}" id="{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
      <div class="box box-solid{% if inline_admin_form.model_admin.collapsed %} collapsed-box{% endif %}">
        <div class="box-header">
          <h3 class="box-title">{{ inline_admin_formset.opts.verbose_name|capfirst }}:
            <span class="inline_label">
              {% if inline_admin_form.original %}
                {{ inline_admin_form.original }}
                {% if inline_admin_form.model_admin.show_change_link and inline_admin_form.model_admin.has_registered_model %}
                  <a href="{% url inline_admin_form.model_admin.opts|admin_urlname:'change' inline_admin_form.original.pk|admin_urlquote %}" class="inlinechangelink">{% trans "Change" %}</a>
                {% endif %}
              {% else %}
                #{{ forloop.counter }}
              {% endif %}
            </span>
            {% if inline_admin_form.show_url %}
              <a href="{{ inline_admin_form.absolute_url }}">{% trans "View on site" %}</a>
            {% endif %}
            {% if inline_admin_formset.formset.can_delete and inline_admin_form.original %}
              <span class="delete">{{ inline_admin_form.deletion_field.field }} {{ inline_admin_form.deletion_field.label_tag }}</span>
            {% endif %}
          </h3>
          <div class="box-tools pull-right">
            {% if inline_admin_form.model_admin.collapsed %}
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
            {% else %}
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            {% endif %}
          </div>
        </div>

        <div class="box-body">
          {% if inline_admin_form.form.non_field_errors %}
            {{ inline_admin_form.form.non_field_errors }}
          {% endif %}
  
          {% for fieldset in inline_admin_form %}
            {% include "admin/includes/fieldset_inline.html" %}
          {% endfor %}

          {% if inline_admin_form.needs_explicit_pk_field %}
            {{ inline_admin_form.pk_field.field }}
          {% endif %}

          {{ inline_admin_form.fk_field.field }}
        </div>
      </div>
    </div>
  {% endfor %}

</div>
{% endspaceless %}

<script>
$.fn.stackedFormset = function() {
  var $rows = $(this);
  var updateInlineLabel = function(row) {
    $($rows.selector).find(".inline_label").each(function(i) {
      var count = i + 1;
      $(this).html($(this).html().replace(/(#\d+)/g, "#" + count));
    });
  };

  var reinitDateTimeShortCuts = function() {
    // Reinitialize the calendar and clock widgets by force, yuck.
    if (typeof DateTimeShortcuts !== "undefined") {
      $(".datetimeshortcuts").remove();
      DateTimeShortcuts.init();
    }
  };

  var updateSelectFilter = function() {
    // If any SelectFilter widgets were added, instantiate a new instance.
    if (typeof SelectFilter !== "undefined") {
      $(".selectfilter").each(function(index, value) {
        var namearr = value.name.split('-');
        SelectFilter.init(value.id, namearr[namearr.length - 1], false);
      });
      $(".selectfilterstacked").each(function(index, value) {
        var namearr = value.name.split('-');
        SelectFilter.init(value.id, namearr[namearr.length - 1], true);
      });
    }
  };

  var initPrepopulatedFields = function(row) {
    row.find('.prepopulated_field').each(function() {
      var field = $(this),
        input = field.find('input, select, textarea'),
        dependency_list = input.data('dependency_list') || [],
        dependencies = [];
      $.each(dependency_list, function(i, field_name) {
        dependencies.push('#' + row.find('.form-row .field-' + field_name).find('input, select, textarea').attr('id'));
      });
      if (dependencies.length) {
        input.prepopulate(dependencies, input.attr('maxlength'));
      }
    });
  };

  $rows.formset({
    prefix: '{{ inline_admin_formset.formset.prefix }}',
    addText: '{% blocktrans with verbose_name=inline_admin_formset.opts.verbose_name|capfirst %}Add another {{ verbose_name }}{% endblocktrans %}',
    formCssClass: 'dynamic-{{ inline_admin_formset.formset.prefix }}',
    //deleteCssClass: 'inline-deletelink',
    deleteText: '{% trans "Remove" %}',
    //emptyCssClass: "empty-form",
    removed: updateInlineLabel,
    added: function(row) {
    //  initPrepopulatedFields(row);
    //  reinitDateTimeShortCuts();
      updateSelectFilter();
    //  updateInlineLabel(row);
    },
    //addButton: options.addButton
  });

  return $rows;
};


(function($) {
  $("#{{ inline_admin_formset.formset.prefix }}-group .inline-related").stackedFormset({});
})(django.jQuery);
</script>
