.st-block[data-type="product"] .st-block__editor {

  .product {
    width: 100%;
  }

  .thumbnail p {
    margin: 0;
    font-size: 11px;
  }

  .box-body.images {
    clear: both;
    padding: 15px 0 0 15px;
    margin-bottom: 0;
  }

}