<ul class="sidebar-menu">
  <li class="header">APPLICATIONS</li>
  {% for app in app_list %}
  <li class="treeview {{ app.name | slugify }}">
    <a href="{{ app.app_url }}">
      {{ app.icon|safe }}
      <span>{{ app.name|truncatechars:"26" }}</span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      {% for model in app.models %}
        {% if model.admin_url %}
          <li><a href="{{ model.admin_url }}">{{ model.icon|safe }} {{ model.name }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>
